<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ISO8583 Message Parser</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<script src="/js/vue.js"></script>
		<script src="/js/axios.min.js"></script>
	</head>
	<body>
		<div class="container" style="margin-bottom:30px;">
			<div class="navbar navbar-inverse bg-inverse">
				<a class="navbar-brand" href="/">ISO8583 Message Parser</a>
			</div>
		</div>



		<div id="app">

			<div class="container" style="margin-bottom:30px">
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link active" v-on:click="activeform='bitmap'"
	 href="#bitmap">Bitmap->Binary</a>
					</li>
				</ul>
			</div><!--/.container-->
			<div class="container" v-if="activeform==='bitmap'">
				<form v-on:submit.prevent>
					<input type="hidden" name="form" value="bitmap">
					<div class="form-group">
						<label for="msg">{{formtitle}}</label>
						<input type="text" class="form-control" id="msg" name="msg" style="width:60%"
								  v-bind:placeholder="placeholder" v-model="value" required>
					</div><!--/.form-group-->
					<button type="submit" class="btn btn-primary" v-on:click="bitmapToBinary">Convert</button>
				</form>

			</div><!--/.container-->

			<div id="result" v-if="result">
				<div class="container" style="margin-top:30px;">
					<div class="card">
						<div class="card-block">
							<h6 class="card-subtitle text-muted" style="margin-bottom:15px">Result</h6>
							<div class="card-text" style="overflow-wrap:break-word">{{result}}</div>
						</div><!--/.card-block-->
					</div><!--/.card-->
				</div><!--/.container-->
			</div><!--/#result-->
		</div>
		<script src="/js/main.js"></script>
	</body>
</html>
